.navbar {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.selectType {
  margin: 20px;
  padding: 10px;
  border-radius: 25px;
}

.Main {
  display: flex;
  border: solid black;
  height: 500px;
}

.listItems {
  border: solid red;
  height: 100%;
  width: 50%;
}

/* .cardContainer {
    display: flex;
    flex-wrap: wrap;
} */

.Card {
    border: solid purple;
}

.stats {
  border: solid blue;
  height: 100%;
  width: 50%;
}
