.navbar {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.selectType {
  margin: 20px;
  padding: 10px;
  border-radius: 25px;
}

.Main {
  display: flex;
  border: solid black;
}

.listItems {
  border: solid red;
  width: 50%;
}

.page {
  border: solid blue;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  border: solid purple;
  width: 46%;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  margin: 5px;
}

.stats {
  border: solid blue;
  height: 100%;
  width: 50%;
}
